*, *::before, *::after{
    font-family: 'Jost', sans-serif;
    font-family: 'Martel', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Work Sans', sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;

    background-color: hsl(0, 0%, 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-container{
    width: 100%;

    font-size: 2.1rem;

    background-color: hsl(0, 100%, 68%);
    color: white;

    text-align: center;

    padding-top: 125px;
}

form{
    width: 90%;

    border-radius: 7px;

    background-color: hsl(0, 0%, 98%);
    max-width: 600px;
    margin: 20px auto;

}

form input{
    width: 90%;

    background-color: transparent;

    font-size: 1.5rem;

    padding: 12px;

    border: none;
    outline: none;
    display: inline-block;
}

form ion-icon{
    color: hsl(0, 0%, 50%);
    width: 8%;
    margin: -7px;
}

.lower-container{
    width: 90%;
    height: auto;
    max-width: 1200px;

    margin: 40px;
}

.search-results{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item-container{
    
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background-color: white;

    padding: 15px;
}

.item-img{
    overflow: hidden;
}

.item-img img{
    border-radius: 8px;
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    max-height: 300px;
    object-position: center;
}

.item-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-body button{
    font-weight: 700;
    font-size: 15px;

    border: none;
    border-radius: 8px;

    color: white;
    background-color: hsl(0, 100%, 65%);

    padding: 10px 15px;

    cursor: pointer;
}

.item-body button:hover{
    background-color: hsl(0, 100%, 80%);
}
